*{
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}
body {
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
}
article {
    background-color: #546e7a;
    flex: 2 2 12em;
    padding: 1em;
}
nav, aside {
    flex: 1;
    background-color: #455a64;
}
nav {
    order: -1;
}
#nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex:1
  }
  #nav a {
    background-color: #455a64;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid #33ADFF;
    display: block;
  }
  #nav a:hover {
    background-color: #666;
    border-left: 5px solid #3333FF;
  }
  #nav li {
    border-left: 10px solid #666;
    border-bottom: 1px solid #666;
  }
  #social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex:1
  }
  #social a {
    background-color: #455a64;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-right: 5px solid #33ADFF;
    display: block;
  }
  #social a:hover {
    background-color: #666;
    border-right: 5px solid #3333FF;
  }
  #social li {
    border-right: 10px solid #666;
    border-bottom: 1px solid #666;
  }
img {
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

header, footer {
    flex: 0 0 5em;
    background-color: #37474f;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 600px) {
                 
    body{
        min-height: 100vh;
    }
    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}
